<a href="https://colab.research.google.com/github/aritapia19/coder-DataScience77695/blob/main/numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Numpy

__Ejercicio 1:__

Importar numpy

In [1]:
import numpy as np

In [2]:
import matplotlib.pyplot as plt

__Ejercicio 2:__

In [4]:
lista= [31,28,29,19]

Crear una ndarray utilizando la lista anterior

In [5]:
arr = np.array(lista)

In [6]:
arr

array([31, 28, 29, 19])

__Ejercicio 3:__

In [8]:
lista_2d=[[2,3,4],
          [3,4,5],
          [3,4,5],
          [3,4,5]]

Crear una ndarray utilizando la lista bidimensional anterior

In [9]:
arr = np.array(lista_2d)

In [10]:
arr

array([[2, 3, 4],
       [3, 4, 5],
       [3, 4, 5],
       [3, 4, 5]])

__Ejercicio 4:__

Utilizar la propiedad shape para obtener la forma del ndarray anterior

Utilizar la propiedad ndim para obtener las dimensiones del ndarray anterior

Utilizar la propiedad dtype para obtener el tipo de los datos en el ndarray anterior

Utilizar la propiedad size para obtener la cantidad total de datos en el ndarray anterior

__Ejercicio 5:__

Crear un ndarray utilizando la lista "lista_2d", el tipo de los datos debe ser "int16"

__Ejercicio 6:__

Utilizar la función np.zeros para crear un ndarray con la forma 3x2

Utilizar la función np.ones para crear un ndarray con la forma 3x3

Utilizar la función np.empty para crear un ndarray con la forma 2x4

__Ejercicio 7:__

Crear un ndarray de 1 dimensión con los valores del 0 al 9 (Ej. [1,2,3,...])

Crear un ndarray de 2 dimensión con la forma 2x5,los valores deben ser del 0 al 9 (Ej. [[0,1,2,3,4],[5,6,..]])

__Ejercicio 8:__

Utilizar np.arange para crear un ndarray con los valores del 10 al 20, deben ir de 2 en 2 (Ej. [10,12,..])

__Ejercicio 9:__

Utilizar np.linspace para crear un ndarray con los valores enteros entre el 10 al 20

__Ejercicio 10:__

Utilizar np.linspace para crear un ndarray  con 100 números entre el 0 y 2$\pi$

Utilizar np.sin y np.cos para obtener los valores de seno y coseno en los puntos del array anterior

Utilizar plt.plot para graficar un círculo con los datos de seno y coseno

__Ejercicio 11:__

Utilizar plt.plot para graficar los valores de seno y coseno por separado

__Ejercicio 12:__

In [ ]:
a= np.linspace(10,20,6)
b= np.linspace(5,25,6)
print(a,b)

Sumar los valores de los ndarray "a" y "b"

Unir los ndarray "a" y "b", guardarlo en la variable c

Ordenar los valores del ndarray c

__Ejercicio 13:__

Utilizar rg.random para generar un ndarray de 1000 números aleatorios entre el 0 y 1

__Ejercicio 14:__

Utilizar rg.normal para generar 100000 valores aleatorios que sigan una distribución normal

__Ejercicio 15:__

Utilizar rg.integers para generar 2000 números aleatorios enteros entre el 0 y el 19

In [ ]:
#np.unique(enteros, return_counts=True) Comprobar que los valores son muy similares

__Ejercicio 16:__

Utilizar rg.choice para elegir 10 números aleatorios SIN REPETIR entre el 0 y el 25

__Ejercicio 17:__

In [ ]:
estadisticos = rg.integers(20,size=8)
estadisticos

Utilizar la función min() para obtener el valor mínimo en el ndarray "estadisticos"

Utilizar la función max() para obtener el valor máximo en el ndarray "estadisticos"

Utilizar la función mean() para obtener el valor promedio en el ndarray "estadisticos"

Utilizar la función std() para obtener el valor de la desviación estandar en el ndarray "estadisticos"

Utilizar la función sum() para obtener el valor al sumar todos los números en el ndarray "estadisticos"

__Ejercicio 18:__

In [ ]:
estadisticos_2d = rg.integers(20,size=(5,4))
estadisticos_2d

Utilizar la función min() para obtener el valor mínimo de cada columna en el ndarray "estadisticos_2d"

Utilizar la función max() para obtener el valor mínimo de cada fila en el ndarray "estadisticos_2d"

__Ejercicio 19:__

In [ ]:
estadisticos_2d

Obtener los valores menores a 12 en el ndarray "estadisticos_2d"

__Ejercicio 20:__

In [ ]:
np1 = rg.integers(20,size=(3,3))
np2 = rg.integers(20,size=(3,3))
print(np1,"\n\n",np2)

Utilizar np.vstack para unir los ndarray "np1" y "np2" verticalmente

Utilizar np.vstack para unir los ndarray "np1" y "np2" horizontalmente

__Ejercicio 21:__

In [ ]:
enteros = rg.integers(20,size=(10))
enteros

Seleccionar los primeros 6 valores del ndarray "enteros"

Seleccionar los valores en la posición 0,2 y 4 del ndarray "enteros"

Seleccionar todos los valores con un indice par en el ndarray "enteros" (0,2,4,...)

__Ejercicio 22:__

In [ ]:
enteros_2d = rg.integers(20,size=(8,5))
enteros_2d

Seleccionar el cuarto valor en el segundo array de "enteros_2d"

Seleccionar el segundo valor en los arrays con indice 3, 4 y 5 de "enteros_2d"

Seleccionar los 2 primeros valores en los arrays con indice 4, 5 y 6 de "enteros_2d"